@page "{id:int}"
@model Portfolio_website.Pages.ProjectPageModel
@{
    ViewData["Title"] = "Project " + Model.project.Name;
}

<div class="row" style="margin-top: 2%;">
    <div class="col-6">
        <h1>@Model.project.Name</h1>
        <p>@Model.project.Description</p>
    </div>
    <div class="col-3">
        <img src="@Model.project.
             " />
        <div style="border: 1px; margin-top: 1%">
            <a href="@Model.project.GithubLink">Github</a>
            <br />
            <a href="@Model.project.TrelloLink">Trello</a>
        </div>
        <div style="margin-top: 1%; border: 1px;">
            @foreach(Portfolio_website.Entities.Links element in Model.project.OtherLinks)
            {
                <a href = @element.link>@element.name</a>
            }
        </div>
    </div>
</div>

<p></p>


